@import "../../../../node_modules/toastr/build/toastr.css";
@import "../../../../node_modules/bootstrap-daterangepicker/daterangepicker.css";
@import "chartjs.css";

.card {
  &-banner {
    overflow: hidden;
    &:hover {
      &::before {
        content: "";
        background-color: rgba(0,0,0,0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .card {
        &-img {
          &-overlay {
            top: 0;
            opacity: 1;
            transition: all .3s;
          }
        }
      }
    }
    .card {
      &-img {
        &-overlay {
          top: 100%;
          opacity: 0;
          transition: all .3s;
        }
      }
    }
  }
}

.ck-editor__editable_inline {
  min-height: 300px;
}